* {
    margin: 0;
    padding: 0;
  }
 p {
    text-align: justify;
    
  }
body {
    font-family: Helvetica, Arial, sans-serif;
    background-color:lightgray;
    color: rgb(26, 122, 9);
  }
  /* Start  Style Header*/
header{
    padding:20px 35px;
    background-color:white;
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
    align-items: center;

}
header h1{
    color: rgb(26, 122, 9);;
    font-weight: bold;
    font-size: 36px;
    margin-top: 10px;
}
a{
    color:rgb(26, 122, 9);
}
header nav{
    margin:7px 0;
}

header nav ul li {
    display: inline;
}
header nav ul li a{
    margin: 0 30px;
  font-weight: lighter;
  font-size: 22px;
  color: rgb(26, 122, 9);;
  text-decoration:none;

}
/*End Style header*/
/*Hero section*/
.hero-section{
    background-image:url("../images/austin_panorama.png");
    height: 400px;
} 
#hero-subtitle {
    background-color: rgb(26, 122, 9);
    padding:15px;
    color: white;
    margin-right: 200px;
}
.hero-section{
    display:flex;
    justify-content: flex-end;
    align-items: flex-end;

}
/*starts About me section*/

.about-section {
    display: flex;
    flex-wrap:wrap;
    justify-content:left;
    width: 90%;
}
#about-me-text {
    max-width: 80%;
}
h2 {
    min-width: 150px;
    margin-right: 20px;
    border-right:  3px solid;
    padding-right: 40px;
    text-align: right;
}
/*Work Section*/
.work-section {
    display: flex;
    flex-wrap: wrap;
    justify-content:left;
    width: 100%;
}
.work-grid-container{
    display:grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(4, 100px);
    grid-gap:10px;
    font-size: 1.2rem;
    width: 80%;
    justify-content:space-between;
        
}
.work-grid-item{
    background-color: white;
    border: solid white;
    padding-left: 30px;
    padding-bottom: 50px;
    color:rgb(26, 122, 9);
    display: flex;
    align-items: flex-end;
    justify-content:flex-start;
    
}


.box1 {
    background-image:url("../images/karoleal.png");
    grid-column: 1/ span 4; 
    grid-row: 1/ span 4;
}
    
.box2 {
    background-image:url("../images/logo-mostachos2-06.svg");
    grid-column: 5/ span 4; 
    grid-row: 1/ span 2;
    
  }
.box3 {
    grid-column: 5/ span 4; 
    grid-row: 3/ span 2; 
  }
  /*Contact Section*/
.contact-section {
    display: flex;
    flex-wrap:wrap;
    justify-content:left;
    width: 90%;
}
.contact-section div ul li{
    display: inline;
}
.contact-section div ul li a{
    margin: 0 150px;
}
section {
    padding:60px;
}
@media screen and (max-width: 375px) {
    header {
      padding-bottom: 0;
      justify-content: center;
    }
  
   /* header div {
      width: 100%;
      text-align: center;
    }*/
  
    header nav ul {
      margin-top: 10px;
      width: 100%;
      justify-content: center;
    }
  
    header nav ul li a {
      font-size: 20px;
    }
    #hero-subtitle{
       justify-content:center;
       text-align: center;
      margin-right: 0px;
    }
   /* h2 {
        min-width: 100%;
        margin-right: 0px;
        border-right:  0px solid;
        padding-right: 0px;
        text-align: center;
    }*/
    .about-section h2 div{
        justify-content: center;
        width: 100%;
    }
    .work-section h2 div{
        justify-content: center;
        width: 100%;

    }

