* {
    margin: 0;
    padding: 0;
  }
 p {
    text-align: justify;
    
  }
body {
    font-family: Helvetica, Arial, sans-serif;
    background-color:lightgray;
    color: rgb(26, 122, 9);
    width: 100%;
  }
  /* Start  Style Header*/
header{
    padding:20px 10px;
    background-color:white;
    display:flex;
    flex-wrap:wrap;
    justify-content: space-around;
    align-items: center;
    width: 105%;
}

header h1{
    color: rgb(26, 122, 9);;
    font-weight: bold;
    font-size: 36px;
    margin-top: 10px;
}
header nav ul li {
    display: inline;
}

header nav ul li a{
  margin: 0 30px;
  font-weight: lighter;
  font-size: 22px;
  color: rgb(26, 122, 9);
  text-decoration:none;

}
header nav ul li a:hover {
    background:rgb(26, 122, 9) ;
    color: white;
    border-radius: 5px;
    text-shadow: none;
  }
/*End Style header*/
/*Hero section*/
.hero-section{
    background-image:url("../images/austin_panorama.png");
    height: 400px;
    display:flex;
    justify-content:flex-end;
    align-items: flex-end;
    width:100%;
} 
#hero-subtitle {
    background-color: rgb(26, 122, 9);
    padding:15px;
    color: white;
    margin-right: 200px;
}
.work-grid-container h3 {
    background-color: rgb(26, 122, 9);
    padding:15px;
    color: white;
    margin-right: 200px;
}
/*starts About me section*/

.about-section {
    display: flex;
    flex-wrap:wrap;
    justify-content:left;
    width: 100%;
}
#about-me-text {
    max-width: 80%;
}
h2 {
    min-width: 150px;
    margin-right: 20px;
    border-right:  3px solid;
    padding-right: 40px;
    text-align: right;
}
/*Work Section*/
.work-section {
    display: flex;
    flex-wrap: wrap;
    justify-content:left;
    width: 100%;
}
.work-grid-container{
    display:grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(4, 100px);
    grid-gap:10px;
    font-size: 1.2rem;
    width: 80%;
    justify-content:space-between;
        
}
.work-grid-item{
    
    border: solid rgb(255, 255, 255);
    padding-left: 30px;
    padding-bottom: 50px;
    color:black;
    display: flex;
    align-items: flex-end;
    justify-content:flex-start;
    
    
}

.box1 {
    background-image:url("../images/karoleal1.png");
    grid-column: 1/ span 4; 
    grid-row: 1/ span 4;
}
.box1:hover {
    opacity: 0.5;
    filter:alpha(opcity=50);
}
.box1:active {

}
    
.box2 {
    background-image:url("../images/mostachos1.png");
    grid-column: 5/ span 4; 
    grid-row: 1/ span 2;
    
  }
.box2:hover {
        opacity: 0.5;
    filter:alpha(opcity=50);
}
.box3 {
    background-image:url("../images/run-buddy1.png");
    grid-column: 5/ span 4; 
    grid-row: 3/ span 2; 
  }
.box3:hover {
    opacity: 0.5;
filter:alpha(opcity=50);
}
  /*Contact Section*/
.contact-section {
    display: flex;
    flex-wrap:wrap;
    justify-content:left;
    width:100%;

}
.contact-section div ul li{
    display: inline;
}

.contact-section div ul li a{
    margin: 0 150px;
}
section {
    padding:60px;
}

@media screen and (max-width: 1024px) {
   /* >>> =====================================================
   Added the following to overide padding and other added changes */
    
    header nav ul li a{
        margin: 0 5px;
        font-weight: lighter;
        font-size: 16px;
        color: rgb(26, 122, 9);;
        text-decoration:none;
        flex: 1 100%;
    }

   
    .about-section {
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
        flex: 1 100%;
    }
    #about-me-text {
        font-size: 14px;
        max-width: 90%;
    }
    .work-section {
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
    }
    .work-grid-container{
        grid-gap:2px;
        width: 100%;
    }
    .work-grid-item{
        padding-left: 0px;
        padding-bottom: 0px; 
    }
    .contact-section div ul li a{
        display:flex;
        flex-wrap:wrap;
        justify-content:center;
        width: 100%;
        margin-left: 225px;
    }

    /* >>> End additions 
    ====================================================================*/
 
    header {
      padding-bottom: 0;
      justify-content: center;
      width: 100%;
    }
  
   /* header div {
      width: 100%;
      text-align: center;
    }*/
  
    header nav ul {
      margin-top: 10px;
      width: 100%;
      justify-content: center;
    }

    #hero-subtitle{
       justify-content:center;
       text-align: center;
      margin-right: 0px;
    }
   h2 {
        min-width: 100%;
        margin-right: 0px;
        border-right:  0px solid;
        padding-right: 0px;
        text-align: center;
    }
    .about-section h2 div{
        justify-content: center;
        width: 100%;
    }
    .work-section h2 div{
        justify-content: center;
        width: 100%;

    }

}
@media screen and (max-width: 768px) {
    /* >>> =====================================================
    Added the following to overide padding and other added changes */
     
     header nav ul li a{
         margin: 0 5px;
         font-weight: lighter;
         font-size: 25px;
         color: rgb(26, 122, 9);;
         text-decoration:none;
     }
 
    section {
         padding: 10px;
     }
     .about-section {
         padding-top: 10px;
         padding-left: 10px;
         padding-right: 10px;
         padding-bottom: 10px;
     }
     #about-me-text {
         max-width: 100%;
     }
     .work-section {
         padding-top: 10px;
         padding-left: 10px;
         padding-right: 10px;
         padding-bottom: 10px;
     }
     .work-grid-container{
         grid-gap:2px;
         width: 100%;
     }
     .work-grid-item{
         padding-left: 0px;
         padding-bottom: 0px; 
     }
     .contact-section div ul li a{
         display:flex;
         flex-wrap:wrap;
         justify-content:center;
         width: 100%;
         margin-left: 130px;
     }
 
     /* >>> End additions 
     ====================================================================*/
  
     header {
       padding-bottom: 0;
       justify-content: center;
       width: 100%;
     }
   
    /* header div {
       width: 100%;
       text-align: center;
     }*/
   
     header nav ul {
       margin-top: 10px;
       width: 100%;
       justify-content: center;
     }
 
     #hero-subtitle{
        justify-content:center;
        text-align: center;
       margin-right: 0px;
     }
    h2 {
         min-width: 100%;
         margin-right: 0px;
         border-right:  0px solid;
         padding-right: 0px;
         text-align: center;
     }
     .about-section h2 div{
         justify-content: center;
         width: 100%;
     }
     .work-section h2 div{
         justify-content: center;
         width: 100%;
 
     }
 
 }
 @media screen and (max-width: 375px) {
    /* >>> =====================================================
    Added the following to overide padding and other added changes */
     
     header nav ul li a{
         margin: 0 5px;
         font-weight: lighter;
         font-size: 16px;
         color: rgb(26, 122, 9);;
         text-decoration:none;
     }
 
    section {
         padding: 10px;
     }
     .about-section {
         padding-top: 10px;
         padding-left: 10px;
         padding-right: 10px;
         padding-bottom: 10px;
     }
     #about-me-text {
         max-width: 100%;
     }
     .work-section {
         padding-top: 10px;
         padding-left: 10px;
         padding-right: 10px;
         padding-bottom: 10px;
     }
     .work-grid-container{
         grid-gap:2px;
         width: 100%;
     }
     .work-grid-item{
         padding-left: 0px;
         padding-bottom: 0px; 
     }
     .contact-section div ul li a{
         display:flex;
         flex-wrap:wrap;
         justify-content:center;
         width: 100%;
         margin: 40px;
     }
 
     /* >>> End additions 
     ====================================================================*/
  
     header {
       padding-bottom: 0;
       justify-content: center;
       width: 100%;
     }
   
    /* header div {
       width: 100%;
       text-align: center;
     }*/
   
     header nav ul {
       margin-top: 10px;
       width: 100%;
       justify-content: center;
     }
 
     #hero-subtitle{
        justify-content:center;
        text-align: center;
       margin-right: 0px;
     }
    h2 {
         min-width: 100%;
         margin-right: 0px;
         border-right:  0px solid;
         padding-right: 0px;
         text-align: center;
     }
     .about-section h2 div{
         justify-content: center;
         width: 100%;
     }
     .work-section h2 div{
         justify-content: center;
         width: 100%;
 
     }
 
 }

