* {
    margin: 0;
    padding: 0;
  }
body {
    font-family: Helvetica, Arial, sans-serif;
    background-color:lightgray;
    color: rgb(26, 122, 9);
  }
  /* Start  Style Header*/
header{
    padding:20px 35px;
    background-color:white;
    display:flex;
    justify-content: space-between;
    align-items: center;

}
header h1{
    color: rgb(26, 122, 9);;
    font-weight: bold;
    font-size: 36px;
    margin-top: 10px;
}
a{
    color:rgb(26, 122, 9);
}
header nav{
    margin:7px 0;
}

header nav ul li {
    display: inline;
}
header nav ul li a{
    margin: 0 30px;
  font-weight: lighter;
  font-size: 22px;
  color: rgb(26, 122, 9);;
  text-decoration:none;

}
/*End Style header*/
/*Hero section*/
.hero-section{
    background-image:url("../images/austin_panorama.png");
    height: 400px;
} 
#hero-subtitle {
    background-color: rgb(26, 122, 9);
    padding:15px;
    color: white;
    margin-right: 200px;
}
.hero-section{
    display:flex;
    justify-content: flex-end;
    align-items: flex-end;

}
/*starts About me section*/

.about-section {
    display: flex;
    justify-content:left;
    width: 100%;
}
h2 {
    min-width: 150px;
    margin-right: 20px;
    border-right:  3px solid;
    padding-right: 40px;
    text-align: right;
}
/*Work Section*/
.work-section {
    display: flex;
    justify-content:left;
    width: 100%;
}
.work-grid-container{
    
    display:grid;
    grid-template-columns: repeat(7, 100px);
    grid-template-rows: repeat(4, 100px);
    grid-gap:10px;
}
.work-grid-item{
    background-color: white;
    border: solid;
    color:rgb(26, 122, 9);
}
.box1 {
    grid-column: 1/ span 4; 
    grid-row: 1/ span 4; 
  }
.box2 {
    grid-column: 5/ span 4; 
    grid-row: 1/ span 2; 
  }
.box3 {
    grid-column: 5/ span 4; 
    grid-row: 3/ span 2; 
  }
/*Contact Section*/
.contact-section {
    display: flex;
    justify-content:left;
    width: 100%;
}
.contact-section div ul li{
    display: inline;
}
.contact-section div ul li a{
    margin: 0 150px;
}
section {
    padding:60px;
}
